body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.App {
  background-color: #282c34;
  color: white;
  padding: 12px;
}

.myBtn {
  background-color: red;
}
