body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #282c34;
  color: white;
  height: 100vh;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 8px;
}
